.Blog-container {
    border-top: 2px solid black;
    border-color: rgb(230, 230, 230) !important;
    box-shadow: 1px 1px 1px rgb(230, 230, 230) !important;

    .Blog-content {
        margin: 0px 40px;
        padding: 30px 40px 10px;
        height: 350px;

        .slide-content {
            .select {
                display: flex !important;

                img {
                    padding: 5px;
                    width: 50% !important;
                    border: 1px solid rgb(230, 230, 230);
                }

                .text-content {
                    padding-left: 10px;

                    p {
                        margin: 0;
                    }

                    .title {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-height: 50%;
                        font-weight: bold;
                        font-size: 16px !important;
                    }

                    .description {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-height: 50%;
                        font-size: 14px !important;
                        opacity: 0.5;
                    }

                }
            }
        }
    }
}