.MedicalFacility-container {
    border-top: 2px solid black;
    border-color: rgb(230, 230, 230) !important;
    box-shadow: 1px 1px 1px rgb(230, 230, 230) !important;

    .MedicalFacility-content {
        margin: 0px 40px;
        padding: 30px 40px 10px;
        height: 350px;

        img {
            padding: 5px;
            border: 1px solid rgb(230, 230, 230);
        }
    }
}