.management-select {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;

    label {
        float: left;
        text-align: left;
        margin-bottom: 10px;
    }

    .Doctor-list {
        text-align: left !important;
    }
}