.CatalogDoctor-background {
    position: relative;
    margin-top: 5px;
    width: 100%;
    min-height: 80%;
    background: white;
    font-family: 'Poppins', sans-serif;

    .CatalogDoctor-container {
        position: absolute;
        height: 90%;
        background-color: white;
        color: black;
        margin: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        font-size: 16px;

        .CatalogDoctor-content {
            margin-top: 10px;
            position: absolute;
            left: 50%;
            transform: translate(-50%);

            .title {
                color: #0b5ed7;
                font-size: 20px;
                font-weight: bold;
            }

            .btn-add-new {
                float: left;
                font-weight: bold;
                color: white;
            }

            table {
                text-align: left;

                th,
                td {
                    padding: 8px 15px;
                }

                th {
                    color: white;
                    background-color: #04AA6D;
                }

                td {
                    border: 1px solid #ddd;
                }

                button {
                    border: none;
                    margin-right: 10px;
                    cursor: pointer;
                    background-color: transparent;
                }

                .btn-edit {
                    color: orange;
                }

                .btn-delete {
                    color: red;
                }
            }
        }
    }
}